Source: interactivehtmlbom.inti-cmnb
Section: electronics
Priority: optional
Maintainer: Salvador Eduardo Tropea <salvador@inti.gob.ar>
Build-Depends: debhelper (>=11~), dh-python, python3-all
Standards-Version: 4.1.4
Homepage: https://github.com/INTI-CMNB/InteractiveHtmlBom
X-Python3-Version: >= 3.2

Package: interactivehtmlbom.inti-cmnb
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, kicad (>= 5.1.0), python3-wxgtk4.0
Description: Interactive HTML BOM plugin for KiCad
 This plugin generates convenient BOM listing with ability to visually
 correlate and easily search for components and their placements on the pcb.

